# Ignore the personal Obsidian settings folder:
.obsidian/*
# Keep these folders:
!.obsidian/plugins
!.obsidian/snippets

# But ignore everything in them:
.obsidian/plugins/*
.obsidian/snippets/*

# Except this one plugin and one css snippet:
!.obsidian/plugins/ebenezer-plugin
!.obsidian/snippets/ebenezer-babel-wikilink-hiding.css

# Babel Branch: CSS should be enabled by default
!.obsidian/appearance.json

# Live Preview should be disabled by default  
# Easy catch-all directory for personal study, tests, etc
git_ignore/

# Mac folder display settings
.DS_Store
