# Ignore the personal Obsidian settings folder:
.obsidian/*
# Keep the plugins and css snippets folders:
!.obsidian/plugins
!.obsidian/snippets

# But ignore everything in them:
.obsidian/plugins/*
.obsidian/snippets/*

# Except this one plugin and one css snippet:
!.obsidian/plugins/ebenezer-plugin
!.obsidian/snippets/ebenezer-babel-wikilink-hiding.css

# Easy catch-all directory for personal study, tests, etc
git_ignore/

# Mac folder display settings
.DS_Store
