# Ignore the personal Obsidian settings folder:
.obsidian/*
# Keep the plugins folder:
!.obsidian/plugins
# But ignore everything in it:
.obsidian/plugins/*
# Except this one plugin:
!.obsidian/plugins/ebenezer-plugin

# Easy catch-all directory for personal study, tests, etc
git_ignore/

# Mac folder display settings
.DS_Store
